{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "These APIs allow end users to operate on Azure Machine Learning Commitment Plans resources and their child Commitment Association resources. They support CRUD operations for commitment plans, get and list operations for commitment associations, moving commitment associations between commitment plans, and retrieving commitment plan usage history.",
        "title": "Azure ML Commitment Plans Management Client",
        "version": "2016-05-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearning/resource-manager/Microsoft.MachineLearning/preview/2016-05-01-preview/commitmentPlans.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "machinelearning-commitmentPlans",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "paths": {
        "/providers/Microsoft.MachineLearning/operations": {
            "get": {
                "description": "Lists all of the available Azure Machine Learning Studio Commitment Plan RP REST API operations.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "description": "The version of the Microsoft.MachineLearning resource provider API to use.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The list of REST API operations.",
                                    "properties": {
                                        "value": {
                                            "description": "The list of operations.",
                                            "items": {
                                                "description": "An API operation.",
                                                "properties": {
                                                    "display": {
                                                        "description": "The API operation info.",
                                                        "properties": {
                                                            "description": {
                                                                "description": "The description of the operation.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "operation": {
                                                                "description": "The action that users can perform, based on their permission level.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "description": "The service provider.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "description": "The resource on which the operation is performed.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Operation name: {provider}/{resource}/{operation}.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operation"
                ],
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/commitmentPlans": {
            "get": {
                "description": "Retrieve all Azure ML commitment plans in a subscription.",
                "operationId": "CommitmentPlans_List",
                "parameters": [
                    {
                        "description": "Azure Subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Continuation token for pagination.",
                        "in": "query",
                        "name": "$skipToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the Microsoft.MachineLearning resource provider API to use.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A page of commitment plan resources.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "A URI to retrieve the next page of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The set of results for this page.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Common properties of an ARM resource.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource Id.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "description": "User-defined tags for the resource.",
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An Azure ML commitment plan resource.",
                                                "properties": {
                                                    "etag": {
                                                        "description": "An entity tag used to enforce optimistic concurrency.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "The commitment plan properties.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "chargeForOverage": {
                                                                "description": "Indicates whether usage beyond the commitment plan's included quantities will be charged.",
                                                                "readOnly": true,
                                                                "type": "boolean"
                                                            },
                                                            "chargeForPlan": {
                                                                "description": "Indicates whether the commitment plan will incur a charge.",
                                                                "readOnly": true,
                                                                "type": "boolean"
                                                            },
                                                            "creationDate": {
                                                                "description": "The date at which this commitment plan was created, in ISO 8601 format.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "includedQuantities": {
                                                                "additionalProperties": {
                                                                    "description": "Represents the quantity a commitment plan provides of a metered resource.",
                                                                    "properties": {
                                                                        "allowance": {
                                                                            "description": "The quantity added to the commitment plan at an interval specified by its allowance frequency.",
                                                                            "format": "double",
                                                                            "readOnly": true,
                                                                            "type": "number"
                                                                        },
                                                                        "amount": {
                                                                            "description": "The quantity available to the plan the last time usage was calculated.",
                                                                            "format": "double",
                                                                            "readOnly": true,
                                                                            "type": "number"
                                                                        },
                                                                        "includedQuantityMeter": {
                                                                            "description": "The Azure meter for usage against included quantities.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        },
                                                                        "overageMeter": {
                                                                            "description": "The Azure meter for usage which exceeds included quantities.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "description": "The included resource quantities this plan gives you.",
                                                                "readOnly": true,
                                                                "type": "object"
                                                            },
                                                            "maxAssociationLimit": {
                                                                "description": "The maximum number of commitment associations that can be children of this commitment plan.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "maxCapacityLimit": {
                                                                "description": "The maximum scale-out capacity for this commitment plan.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "minCapacityLimit": {
                                                                "description": "The minimum scale-out capacity for this commitment plan.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "planMeter": {
                                                                "description": "The Azure meter which will be used to charge for this commitment plan.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "refillFrequencyInDays": {
                                                                "description": "The frequency at which this commitment plan's included quantities are refilled.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "suspendPlanOnOverage": {
                                                                "description": "Indicates whether this commitment plan will be moved into a suspended state if usage goes beyond the commitment plan's included quantities.",
                                                                "readOnly": true,
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "sku": {
                                                        "description": "The commitment plan SKU.",
                                                        "properties": {
                                                            "capacity": {
                                                                "description": "The scale-out capacity of the resource. 1 is 1x, 2 is 2x, etc. This impacts the quantities and cost of any commitment plan resource.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "description": "The SKU name. Along with tier, uniquely identifies the SKU.",
                                                                "type": "string"
                                                            },
                                                            "tier": {
                                                                "description": "The SKU tier. Along with name, uniquely identifies the SKU.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CommitmentPlans"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/skus": {
            "get": {
                "description": "Lists the available commitment plan SKUs.",
                "operationId": "Skus_List",
                "parameters": [
                    {
                        "description": "Azure Subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the Microsoft.MachineLearning resource provider API to use.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The list of commitment plan SKUs.",
                                    "properties": {
                                        "value": {
                                            "items": {
                                                "description": "Details of a commitment plan SKU.",
                                                "properties": {
                                                    "capabilities": {
                                                        "description": "The capability information for the specified SKU.",
                                                        "items": {
                                                            "description": "Describes The SKU capabilities object.",
                                                            "properties": {
                                                                "name": {
                                                                    "description": "The capability name.",
                                                                    "readOnly": true,
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "description": "The capability value.",
                                                                    "readOnly": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    },
                                                    "capacity": {
                                                        "description": "SKU scaling information",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "default": {
                                                                "description": "The default capacity.",
                                                                "format": "int64",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "maximum": {
                                                                "description": "The maximum capacity that can be set.",
                                                                "format": "int64",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "minimum": {
                                                                "description": "The minimum capacity.",
                                                                "format": "int64",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "scaleType": {
                                                                "description": "The scale type applicable to the sku.",
                                                                "enum": [
                                                                    "Automatic",
                                                                    "Manual",
                                                                    "None"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "SkuCapacityScaleType"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "costs": {
                                                        "description": "The cost information for the specified SKU.",
                                                        "items": {
                                                            "description": "Describes metadata for SKU cost info.",
                                                            "properties": {
                                                                "extendedUnit": {
                                                                    "description": "The overall duration represented by the quantity.",
                                                                    "readOnly": true,
                                                                    "type": "string"
                                                                },
                                                                "meterID": {
                                                                    "description": "The meter used for this part of a SKU's cost.",
                                                                    "readOnly": true,
                                                                    "type": "string"
                                                                },
                                                                "quantity": {
                                                                    "description": "The multiplier for the meter ID.",
                                                                    "format": "int64",
                                                                    "readOnly": true,
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    },
                                                    "locations": {
                                                        "description": "Regions where the SKU is available.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    },
                                                    "name": {
                                                        "description": "SKU name",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "resourceType": {
                                                        "description": "Resource type name",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "restrictions": {
                                                        "description": "Restrictions which would prevent a SKU from being used. This is empty if there are no restrictions.",
                                                        "items": {
                                                            "description": "Describes restrictions which would prevent a SKU from being used.",
                                                            "properties": {
                                                                "reasonCode": {
                                                                    "description": "The reason for restriction.",
                                                                    "enum": [
                                                                        "QuotaId",
                                                                        "NotAvailableForSubscription"
                                                                    ],
                                                                    "readOnly": true,
                                                                    "type": "string",
                                                                    "x-ms-enum": {
                                                                        "modelAsString": true,
                                                                        "name": "ResourceSkuRestrictionsReasonCode"
                                                                    }
                                                                },
                                                                "type": {
                                                                    "description": "The type of restrictions.",
                                                                    "enum": [
                                                                        "location",
                                                                        "zone"
                                                                    ],
                                                                    "readOnly": true,
                                                                    "type": "string",
                                                                    "x-ms-enum": {
                                                                        "modelAsString": true,
                                                                        "name": "ResourceSkuRestrictionsType"
                                                                    }
                                                                },
                                                                "values": {
                                                                    "description": "The value of restrictions. If the restriction type is set to location. This would be different locations where the SKU is restricted.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "readOnly": true,
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "readOnly": true,
                                                        "type": "array"
                                                    },
                                                    "tier": {
                                                        "description": "SKU tier",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Skus"
                ],
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans": {
            "get": {
                "description": "Retrieve all Azure ML commitment plans in a resource group.",
                "operationId": "CommitmentPlans_ListInResourceGroup",
                "parameters": [
                    {
                        "description": "Azure Subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource group name.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Continuation token for pagination.",
                        "in": "query",
                        "name": "$skipToken",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The version of the Microsoft.MachineLearning resource provider API to use.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A page of commitment plan resources.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "A URI to retrieve the next page of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The set of results for this page.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Common properties of an ARM resource.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Resource Id.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Resource name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "description": "User-defined tags for the resource.",
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An Azure ML commitment plan resource.",
                                                "properties": {
                                                    "etag": {
                                                        "description": "An entity tag used to enforce optimistic concurrency.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "The commitment plan properties.",
                                                        "readOnly": true,
                                                        "properties": {
                                                            "chargeForOverage": {
                                                                "description": "Indicates whether usage beyond the commitment plan's included quantities will be charged.",
                                                                "readOnly": true,
                                                                "type": "boolean"
                                                            },
                                                            "chargeForPlan": {
                                                                "description": "Indicates whether the commitment plan will incur a charge.",
                                                                "readOnly": true,
                                                                "type": "boolean"
                                                            },
                                                            "creationDate": {
                                                                "description": "The date at which this commitment plan was created, in ISO 8601 format.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "includedQuantities": {
                                                                "additionalProperties": {
                                                                    "description": "Represents the quantity a commitment plan provides of a metered resource.",
                                                                    "properties": {
                                                                        "allowance": {
                                                                            "description": "The quantity added to the commitment plan at an interval specified by its allowance frequency.",
                                                                            "format": "double",
                                                                            "readOnly": true,
                                                                            "type": "number"
                                                                        },
                                                                        "amount": {
                                                                            "description": "The quantity available to the plan the last time usage was calculated.",
                                                                            "format": "double",
                                                                            "readOnly": true,
                                                                            "type": "number"
                                                                        },
                                                                        "includedQuantityMeter": {
                                                                            "description": "The Azure meter for usage against included quantities.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        },
                                                                        "overageMeter": {
                                                                            "description": "The Azure meter for usage which exceeds included quantities.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "description": "The included resource quantities this plan gives you.",
                                                                "readOnly": true,
                                                                "type": "object"
                                                            },
                                                            "maxAssociationLimit": {
                                                                "description": "The maximum number of commitment associations that can be children of this commitment plan.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "maxCapacityLimit": {
                                                                "description": "The maximum scale-out capacity for this commitment plan.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "minCapacityLimit": {
                                                                "description": "The minimum scale-out capacity for this commitment plan.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "planMeter": {
                                                                "description": "The Azure meter which will be used to charge for this commitment plan.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "refillFrequencyInDays": {
                                                                "description": "The frequency at which this commitment plan's included quantities are refilled.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "suspendPlanOnOverage": {
                                                                "description": "Indicates whether this commitment plan will be moved into a suspended state if usage goes beyond the commitment plan's included quantities.",
                                                                "readOnly": true,
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "sku": {
                                                        "description": "The commitment plan SKU.",
                                                        "properties": {
                                                            "capacity": {
                                                                "description": "The scale-out capacity of the resource. 1 is 1x, 2 is 2x, etc. This impacts the quantities and cost of any commitment plan resource.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "description": "The SKU name. Along with tier, uniquely identifies the SKU.",
                                                                "type": "string"
                                                            },
                                                            "tier": {
                                                                "description": "The SKU tier. Along with name, uniquely identifies the SKU.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CommitmentPlans"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}": {
            "delete": {
                "description": "Remove an existing Azure ML commitment plan.",
                "operationId": "CommitmentPlans_Remove",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "tags": [
                    "CommitmentPlans"
                ]
            },
            "get": {
                "description": "Retrieve an Azure ML commitment plan by its subscription, resource group and name.",
                "operationId": "CommitmentPlans_Get",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Common properties of an ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource Id.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "description": "User-defined tags for the resource.",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An Azure ML commitment plan resource.",
                                    "properties": {
                                        "etag": {
                                            "description": "An entity tag used to enforce optimistic concurrency.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The commitment plan properties.",
                                            "readOnly": true,
                                            "properties": {
                                                "chargeForOverage": {
                                                    "description": "Indicates whether usage beyond the commitment plan's included quantities will be charged.",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                },
                                                "chargeForPlan": {
                                                    "description": "Indicates whether the commitment plan will incur a charge.",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                },
                                                "creationDate": {
                                                    "description": "The date at which this commitment plan was created, in ISO 8601 format.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "includedQuantities": {
                                                    "additionalProperties": {
                                                        "description": "Represents the quantity a commitment plan provides of a metered resource.",
                                                        "properties": {
                                                            "allowance": {
                                                                "description": "The quantity added to the commitment plan at an interval specified by its allowance frequency.",
                                                                "format": "double",
                                                                "readOnly": true,
                                                                "type": "number"
                                                            },
                                                            "amount": {
                                                                "description": "The quantity available to the plan the last time usage was calculated.",
                                                                "format": "double",
                                                                "readOnly": true,
                                                                "type": "number"
                                                            },
                                                            "includedQuantityMeter": {
                                                                "description": "The Azure meter for usage against included quantities.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "overageMeter": {
                                                                "description": "The Azure meter for usage which exceeds included quantities.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "description": "The included resource quantities this plan gives you.",
                                                    "readOnly": true,
                                                    "type": "object"
                                                },
                                                "maxAssociationLimit": {
                                                    "description": "The maximum number of commitment associations that can be children of this commitment plan.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "maxCapacityLimit": {
                                                    "description": "The maximum scale-out capacity for this commitment plan.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "minCapacityLimit": {
                                                    "description": "The minimum scale-out capacity for this commitment plan.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "planMeter": {
                                                    "description": "The Azure meter which will be used to charge for this commitment plan.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "refillFrequencyInDays": {
                                                    "description": "The frequency at which this commitment plan's included quantities are refilled.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "suspendPlanOnOverage": {
                                                    "description": "Indicates whether this commitment plan will be moved into a suspended state if usage goes beyond the commitment plan's included quantities.",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sku": {
                                            "description": "The commitment plan SKU.",
                                            "properties": {
                                                "capacity": {
                                                    "description": "The scale-out capacity of the resource. 1 is 1x, 2 is 2x, etc. This impacts the quantities and cost of any commitment plan resource.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "The SKU name. Along with tier, uniquely identifies the SKU.",
                                                    "type": "string"
                                                },
                                                "tier": {
                                                    "description": "The SKU tier. Along with name, uniquely identifies the SKU.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CommitmentPlans"
                ]
            },
            "parameters": [
                {
                    "description": "Azure Subscription ID.",
                    "in": "path",
                    "name": "subscriptionId",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "The resource group name.",
                    "in": "path",
                    "name": "resourceGroupName",
                    "required": true,
                    "x-ms-parameter-location": "method",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "The Azure ML commitment plan name.",
                    "in": "path",
                    "name": "commitmentPlanName",
                    "required": true,
                    "x-ms-parameter-location": "method",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "The version of the Microsoft.MachineLearning resource provider API to use.",
                    "in": "query",
                    "name": "api-version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Patch an existing Azure ML commitment plan resource.",
                "operationId": "CommitmentPlans_Patch",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Common properties of an ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource Id.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "description": "User-defined tags for the resource.",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An Azure ML commitment plan resource.",
                                    "properties": {
                                        "etag": {
                                            "description": "An entity tag used to enforce optimistic concurrency.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The commitment plan properties.",
                                            "readOnly": true,
                                            "properties": {
                                                "chargeForOverage": {
                                                    "description": "Indicates whether usage beyond the commitment plan's included quantities will be charged.",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                },
                                                "chargeForPlan": {
                                                    "description": "Indicates whether the commitment plan will incur a charge.",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                },
                                                "creationDate": {
                                                    "description": "The date at which this commitment plan was created, in ISO 8601 format.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "includedQuantities": {
                                                    "additionalProperties": {
                                                        "description": "Represents the quantity a commitment plan provides of a metered resource.",
                                                        "properties": {
                                                            "allowance": {
                                                                "description": "The quantity added to the commitment plan at an interval specified by its allowance frequency.",
                                                                "format": "double",
                                                                "readOnly": true,
                                                                "type": "number"
                                                            },
                                                            "amount": {
                                                                "description": "The quantity available to the plan the last time usage was calculated.",
                                                                "format": "double",
                                                                "readOnly": true,
                                                                "type": "number"
                                                            },
                                                            "includedQuantityMeter": {
                                                                "description": "The Azure meter for usage against included quantities.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "overageMeter": {
                                                                "description": "The Azure meter for usage which exceeds included quantities.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "description": "The included resource quantities this plan gives you.",
                                                    "readOnly": true,
                                                    "type": "object"
                                                },
                                                "maxAssociationLimit": {
                                                    "description": "The maximum number of commitment associations that can be children of this commitment plan.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "maxCapacityLimit": {
                                                    "description": "The maximum scale-out capacity for this commitment plan.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "minCapacityLimit": {
                                                    "description": "The minimum scale-out capacity for this commitment plan.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "planMeter": {
                                                    "description": "The Azure meter which will be used to charge for this commitment plan.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "refillFrequencyInDays": {
                                                    "description": "The frequency at which this commitment plan's included quantities are refilled.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "suspendPlanOnOverage": {
                                                    "description": "Indicates whether this commitment plan will be moved into a suspended state if usage goes beyond the commitment plan's included quantities.",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sku": {
                                            "description": "The commitment plan SKU.",
                                            "properties": {
                                                "capacity": {
                                                    "description": "The scale-out capacity of the resource. 1 is 1x, 2 is 2x, etc. This impacts the quantities and cost of any commitment plan resource.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "The SKU name. Along with tier, uniquely identifies the SKU.",
                                                    "type": "string"
                                                },
                                                "tier": {
                                                    "description": "The SKU tier. Along with name, uniquely identifies the SKU.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "CommitmentPlans"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The properties of a commitment plan which may be updated via PATCH.",
                                "properties": {
                                    "sku": {
                                        "description": "The commitment plan SKU.",
                                        "properties": {
                                            "capacity": {
                                                "description": "The scale-out capacity of the resource. 1 is 1x, 2 is 2x, etc. This impacts the quantities and cost of any commitment plan resource.",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "name": {
                                                "description": "The SKU name. Along with tier, uniquely identifies the SKU.",
                                                "type": "string"
                                            },
                                            "tier": {
                                                "description": "The SKU tier. Along with name, uniquely identifies the SKU.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "tags": {
                                        "description": "User-defined tags for the commitment plan.",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "The payload to use to patch the Azure ML commitment plan. Only tags and SKU may be modified on an existing commitment plan.",
                    "required": true
                }
            },
            "put": {
                "description": "Create a new Azure ML commitment plan resource or updates an existing one.",
                "operationId": "CommitmentPlans_CreateOrUpdate",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Common properties of an ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource Id.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "description": "User-defined tags for the resource.",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An Azure ML commitment plan resource.",
                                    "properties": {
                                        "etag": {
                                            "description": "An entity tag used to enforce optimistic concurrency.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The commitment plan properties.",
                                            "readOnly": true,
                                            "properties": {
                                                "chargeForOverage": {
                                                    "description": "Indicates whether usage beyond the commitment plan's included quantities will be charged.",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                },
                                                "chargeForPlan": {
                                                    "description": "Indicates whether the commitment plan will incur a charge.",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                },
                                                "creationDate": {
                                                    "description": "The date at which this commitment plan was created, in ISO 8601 format.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "includedQuantities": {
                                                    "additionalProperties": {
                                                        "description": "Represents the quantity a commitment plan provides of a metered resource.",
                                                        "properties": {
                                                            "allowance": {
                                                                "description": "The quantity added to the commitment plan at an interval specified by its allowance frequency.",
                                                                "format": "double",
                                                                "readOnly": true,
                                                                "type": "number"
                                                            },
                                                            "amount": {
                                                                "description": "The quantity available to the plan the last time usage was calculated.",
                                                                "format": "double",
                                                                "readOnly": true,
                                                                "type": "number"
                                                            },
                                                            "includedQuantityMeter": {
                                                                "description": "The Azure meter for usage against included quantities.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "overageMeter": {
                                                                "description": "The Azure meter for usage which exceeds included quantities.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "description": "The included resource quantities this plan gives you.",
                                                    "readOnly": true,
                                                    "type": "object"
                                                },
                                                "maxAssociationLimit": {
                                                    "description": "The maximum number of commitment associations that can be children of this commitment plan.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "maxCapacityLimit": {
                                                    "description": "The maximum scale-out capacity for this commitment plan.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "minCapacityLimit": {
                                                    "description": "The minimum scale-out capacity for this commitment plan.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "planMeter": {
                                                    "description": "The Azure meter which will be used to charge for this commitment plan.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "refillFrequencyInDays": {
                                                    "description": "The frequency at which this commitment plan's included quantities are refilled.",
                                                    "format": "int32",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "suspendPlanOnOverage": {
                                                    "description": "Indicates whether this commitment plan will be moved into a suspended state if usage goes beyond the commitment plan's included quantities.",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sku": {
                                            "description": "The commitment plan SKU.",
                                            "properties": {
                                                "capacity": {
                                                    "description": "The scale-out capacity of the resource. 1 is 1x, 2 is 2x, etc. This impacts the quantities and cost of any commitment plan resource.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "The SKU name. Along with tier, uniquely identifies the SKU.",
                                                    "type": "string"
                                                },
                                                "tier": {
                                                    "description": "The SKU tier. Along with name, uniquely identifies the SKU.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Common properties of an ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource Id.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location.",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "description": "User-defined tags for the resource.",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An Azure ML commitment plan resource.",
                                    "properties": {
                                        "etag": {
                                            "description": "An entity tag used to enforce optimistic concurrency.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The commitment plan properties.",
                                            "readOnly": true,
                                            "properties": {
                                                "chargeForOverage": {
                                                    "description": "Indicates whether usage beyond the commitment plan's included quantities will be charged.",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                },
                                                "chargeForPlan": {
                                                    "description": "Indicates whether the commitment plan will incur a charge.",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                },
                                                "creationDate": {
[...]
